form#form-task.form-inline(class='todos')
  .form
    
    .sub
      .form-group
        select.form-control(name='region')
          option(value='서울') 서울
          option(value='인천') 인천
          option(value='부산') 부산
          option(value='대전') 대전
          option(value='대구') 대구
          option(value='울산') 울산
          option(value='광주') 광주
          option(value='경기도') 경기도
          option(value='강원도') 강원도
          option(value='충청도') 충청도
          option(value='전라도') 전라도
          option(value='경상도') 경상도

      .form-group
        select.form-control(name='priority')
          option(value='3') 중요
          option(value='2', selected) 보통
          option(value='1') 사소
  .actions
      button#post-task.btn.btn-primary.btn-lg.btn-block(type='button') 저장

ul.tasks

.no-task 
  .alert.alert-info 등록된 숙소가 없습니다.
script#task-template(type='text/template').
  <li class='task <%= doneStr %>' data-id='<%= id %>'>
    <span class='check'>
      <i class='fa fa-check fa-lg'></i>
    </span>
    <span class='content'><%=content %></span>
    <% if (category) { %>
      <span class='label label-default region'> 
        <%= category %>
      </span>
    <% } %>
    <span class='priority p<%= priority %>'>
      <%= (priority === 3) ? "중요" : ((priority === 1) ? "사소": "보통") %>
    </span>
    <a href='#' class='remove'><i class='fa fa-trash-o'></i></a>
  </li>
      
script.
  $(function() {
    var todo = new TaskController();    
  });
