extends layout

block hero-unit
  .jumbotron
    .container
      h1 Air bnb

block content
  .container
    .row
      .col-md-6
        h3 서비스 목적
        p 본 서비스는 웹프로그래밍 프로젝트를 위해서 Air bnb 사이트를 만드는 것 입니다. 
      .col-md-6
        h3 주요 기능
        ul
          li 사용자 관리
          li 숙소 예약
          li 기록 내용
  
