doctype html
html(lang='ko')
  head
    block title
      title Airbnb
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/lodash/lodash.min.js')
    script(src='/bower_components/moment/min/moment.min.js')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js") 
    script(src="http://dmaps.daum.net/map_js_init/postcode.v2.js")
    script(type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=6da0eaeddc090e46a506d5219c3fcb88&libraries=services")
    script(src="http://dmaps.daum.net/map_js_init/postcode.v2.js")
 
  body
    block top-nav
      include ./includes/topnav
    
    block hero-unit
    .main-content
      if flashMessages
        each texts, type in flashMessages
          .container
            .alert(class='alert-#{type}')
              each msg in texts
                p= msg  
             
    block content

    block footer
      include ./includes/footer
