extends ../layout
script(type='text/javascript', src='//apis.daum.net/maps/maps3.js?apikey=74673')
block content
	.container
		h1.page-header 새 예약
		form(action='/reservations/#{post._id}', method='POST')
			.form-group
				label(for='title') 숙소 이름
				h3 #{post.title}
			p
				| Check_in: 
				input#check_in(type='text', name = 'check_in')
			p
				| Check_out: 
				input#check_out(type='text', name = 'check_out')
			.form-group
				label(for='people', style="display:block;") 숙박 인원
				div.form-box
					select.selectpicker(class="people", name="people", id="people")
						-for(i=0; i<10; i++){
							option=i
						-}
			
			div.form-actions
				a.btn.btn-default(href='javascript:window.history.back();')	뒤로
				button.btn.btn-primary(type='submit')	예약
		script.
			$( function() {
				$( "#check_in" ).datepicker();
				$( "#check_out" ).datepicker();
				$('.selectpicker').selectpicker({
					style: 'btn-info',
					size: 4
				});
			} );
			
